{% extends 'base.html' %}
{% load static %}

{% block body %}


<!-- Page Header Start -->
<div class="container-fluid page-header py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <img src="{{ about_us.image_long.url }}"  class="img-fluid position-absolute" style="width: 100%; height: auto; top: 0; left: 0; z-index: -1;">
        <h1 class="display-2 text-white mb-4">About Us</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-white" aria-current="page">About Us</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


    <!-- About Start -->
    <div class="container-fluid py-5 about bg-light">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                    <div class="video border">
                        <button type="button" class="btn btn-play" data-bs-toggle="modal" data-src="{{ about_info.image }}" >
                            <span></span>
                        </button>
                    </div>
                </div>
                <div class="col-lg-7 wow fadeIn" data-wow-delay="0.3s">
                    <h4 class="text-primary mb-4 border-bottom border-primary border-2 d-inline-block p-2 title-border-radius">About Us</h4>
                    <h1 class="text-dark mb-4 display-5">{{ about_info.title }}</h1>
                    <p class="text-dark mb-4">{{ about_info.description }}</p>
                    <div class="row mb-4">
                        <div class="col-lg-6">
                            {% for feature in about_info.features.all %}
                                <h6 class="mb-3"><i class="fas fa-check-circle me-2"></i>{{ feature }}</h6>
                            {% endfor %}
                        </div>
                    </div>
                    <a href="{{ about_info.more_details_link }}" class="btn btn-primary px-5 py-3 btn-border-radius">More Details</a>
                </div>
            </div>
        </div>
    </div>
<!-- Modal Image -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Image Preview</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="{{about_info.image.url}}" class="img-fluid" alt="Image Preview">  <!-- استخدم هنا مسار الصورة -->
            </div>
        </div>
    </div>
</div>


        <!-- About End -->
        {% endblock body %}
