{% extends 'base.html' %}
{% load static %}
{% load i18n %}  <!-- Load the i18n template tag library -->

{% block body %}

<!-- About Start -->
<div class="container-fluid py-5 about bg-light">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                <img src="{{ about_info.image.url }}" style="border-radius: 50% 20% / 10% 40%" class="img-fluid" alt="{% translate 'Image Preview' %}"> <!-- Translator: Image Preview -->
            </div>
            <div class="col-lg-7 wow fadeIn" data-wow-delay="0.3s">
                <h4 class="text-secondary mb-4 border-bottom border-secondary border-2 d-inline-block p-2 title-border-radius text-center">{% translate "About Us" %}</h4>
                <h1 class="text-dark mb-4 display-5 text-center">{{ about_info.title }}</h1>
                <p class="text-dark mb-4 text-center">{{ about_info.description }}</p>
                <a href="{{ about_info.more_details_link }}" class="btn btn-secondary px-5 py-3 btn-border-radius">{% translate "More Details" %}</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
{% endblock body %}
